.footer {
  text-decoration: none;
  font-size: 14px;

  text-align: center;
  width: 100%;
  margin: 20px 0 10px 0;
}

a {
  text-decoration: none;
  color: #1976d2;
  transition-duration: 0.2s;
}

a:hover {
  color: #0f4274;
}
