.footer {
  text-decoration: none;
  font-size: 12px;

  text-align: center;
  width: 100%;
  margin: 20px 0 10px 0;
}

a {
  text-decoration: none;
  color: #1976d2;
}

a:hover {
  text-decoration: underline;
}
