.item-div {
  margin: 20px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  box-shadow: slategrey 3px 3px 5px 2px;
  padding: 20px;
}

.item-div img {
  width: 90%;
}

.main-div {
  margin: 20px;
}

.description {
  text-align: left;
}
