.loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s cubic-bezier(0.76, 0.38, 0.19, 0.66) infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading span {
  width: 32px;
  height: 32px;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
}

.loading span:nth-child(1) {
  border-radius: 50% 50% 0 50%;

  background-color: #7751df;

  transform-origin: bottom right;
}

.loading span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  background-color: #e6723d;
  transform-origin: bottom left;
  animation-delay: 0.5s;
}

.loading span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  background-color: #cf5781;
  transform-origin: top right;
  animation-delay: 1.5s;
}

.loading span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  background-color: #f5b733;
  transform-origin: top left;
  animation-delay: 1s;
}
