
.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.carouselImage {
  width: 500px;
}



.orderList {
  width: 500px;
}

.orderList div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

.myOrders {
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.checkout {
  margin: 20px auto;
  width: 500px;
  outline: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.checkout div {
  margin: 5px;
}

.checkout form {
  margin: 5px;

  display: flex;
  flex-direction: column;
  width: 300px;
}